body{
    color: #000000;
    background: url("./img/gg.jpg") no-repeat center/cover fixed ;
}
h1{
    color: crimson;
    padding: 12px 15px 40px;
    margin: 80px 0 0 0 ;
}
p{
    background: brown;
    width: 300px;
    height: 150px;
    border: #000000 solid 6px;
}
strong{
    display: none;
}